/* Import the custom font */
@font-face {
    font-family: 'FiveYearsOldFont';
    src: url('fiveyearsoldfont.ttf') format('truetype');
}

@font-face {
    font-family: 'NexaRustHandmade';
    src: url('NexaRustHandmade-Extended.otf') format('opentype'); /* Ensure the correct path is used */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SensibleArmadillo';
    src: url('A Sensible Armadillo.ttf') format('truetype'); /* Path to the font file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conformity';
    src: url('conformity.TTF') format('truetype'); /* Path to the font file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ComingSoon';
    src: url('ComingSoon.ttf') format('truetype');
}


body {
    background: url('paper_texture_3.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'ComingSoon', sans-serif;
    color: #e7e7e7;
    margin: 0;
    padding: 0;
    cursor: none;
}



.container {
    text-align: center;
    padding: 20px;
}

/* Header styles */
header {
    padding: 20px;
    position: relative; /* Make sure the header doesn't affect other elements */
    min-height: 150px;
}

/* Title styling */
header h1 {
    font-size: 3rem;
    color: #ffffff;
    margin: 0;
}

/* Subtitle (paragraph) styling */
header p {
    font-size: 1.5rem;
    min-height: 50px; /* Set minimum height to reserve space for multiline text */
    padding-top: 10px; /* Optional: Add some padding for spacing */
    margin: 0;
}

.logo {
    width: 50px;
    height: auto;
}

h1 {
    font-size: 3rem;
    color: #ffffff;
    margin: 0;
    min-height: 50px; /* Set minimum height to reserve space for multiline text */
}

p {
    font-size: 1.5rem;
    min-height: 80px; /* Set minimum height to reserve space for multiline text */
    padding-top: 10px; /* Optional: Add some padding for spacing */
    margin: 0;
}

/* Form */
form {
    text-align: left;
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    cursor: none;
}

.form-section form {
    text-align: center;
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    cursor: none;
}

.form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: none;
}

.form-section button {
    background-color: #f5f390;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    font-family: 'ComingSoon', sans-serif;
    color: #212121;
    width: 100%;
    cursor: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.form-section button:hover {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    cursor: none;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-family: 'ComingSoon', sans-serif;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: none;
}

button {
    background-color: #f5f390;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    font-family: 'ComingSoon', sans-serif;
    color: #212121;
    width: 100%;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: none;
}

button:hover {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    cursor: none;
}

#check-password {
    margin-bottom: 50px; /* Adjust this value to increase/decrease space */
}



/* Carousel container */
.carousel-container {
    position: relative; /* Make this container the reference point for absolute positioning */
    width: 100%;
    max-width: 278px; /* Adjust to control the overall width of the container */
    margin: 0px auto 0; /* Add top margin to create space between header and carousel */
    height: 620px; /* Fixed height to match the phone frame */
    overflow: hidden; /* Hide overflow to keep images within the frame */
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%; /* Make sure the carousel takes the full height of the container */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(15px); /* Adjust this value to shift items down */
}



.slides {
    display: flex;
    transition: transform 0.8s ease-in-out; /* Add transition for smooth sliding */
    height: 93%; /* Ensure slides container takes full height */
    justify-content: flex-start;
}

.slides img {
    width: 100%;
    height: 95%;
    object-fit: contain; /* Adjusts the image to fit inside the container while maintaining its aspect ratio */
    flex-shrink: 0; /* Prevent images from shrinking */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}

/* Phone frame overlay */
.phone-frame {
    position: absolute; /* Position the frame on top of the carousel */
    top: 50%; /* Center the frame vertically */
    left: 50%; /* Center the frame horizontally */
    transform: translate(-50%, -50%); /* Adjust to align the frame correctly */
    width: 295px; /* Set a fixed width */
    height: 600px; /* Set a fixed height */
    z-index: 2; /* Ensure the frame is on top of the carousel */
    pointer-events: none; /* Allow interactions with the carousel images behind the frame */
}


.download-section {
    margin: 30px 0;
}

.feature-text-container {
    margin: 0px 0; /* Add some spacing around the text */
    text-align: center;
    color: #ffffff; /* Color to match your theme */
}

.feature-text-container h2 {
    font-size: 2rem;
    margin: 0;
}

.feature-text-container p {
    font-size: 1.2rem;
    margin: 0px 0;
}





#submit-button {
    background-color: #f5f390;
    border: none;
    padding: 20px;
    font-size: 1.5rem;
    color: #212121;
    /*cursor: pointer;*/
    cursor: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    display: inline-block;
}

#submit-button:hover {
    background: linear-gradient(45deg, #ffc341, #ffce2b);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

/* Add the poker chip GIFs to the left and right of the button */
#submit-button::before,
#submit-button::after {
    content: url('poker-chip-1.gif'); /* Set the content to the GIF */
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    width: 40px; /* Adjust size if necessary */
    height: 40px; /* Adjust size if necessary */
}

/* Position the left GIF */
#submit-button::before {
    left: +620px; /* Adjust position to the left of the button */
}

/* Position the right GIF */
#submit-button::after {
    right: +820px; /* Adjust position to the right of the button */
}

#check-password {
    background-color: #272727;
    color: #FFFFFF;
}

#check-password:hover {
    background: linear-gradient(45deg, #535353, #414141);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.contact-section {
    margin: 20px 0;
}

#contact-button {
    background-color: #b9363e;
    color: white;
    padding: 15px;
    font-size: 1.2rem;
    font-family: 'ComingSoon', sans-serif;
    border: none;
    cursor: none;
    width: auto;
}

#contact-button:hover {
    background-color: #212121;
}

/* Custom cursor styling */
.custom-cursor {
    position: absolute;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    background: url('cursor_large.png') no-repeat center center / contain; /* Your custom cursor image */
    border-radius: 50%;  /* If you want a rounded effect */
    pointer-events: none; /* Prevent the cursor from interfering with other elements */
    transition: transform 0.15s ease-out; /* Add a smooth transition effect */
    /* mix-blend-mode: difference;  Optional: to create a cool visual effect */
    z-index: 9999; /* Set a high z-index value to ensure it stays on top */
}

/* Media query for mobile screens */
@media (max-width: 1000px) {
    /* Hide custom cursor on mobile */
    .custom-cursor {
        display: none;
    }

    /* Move the GIF to a new location on mobile */
    #submit-button::before,
    #submit-button::after {
        position: absolute;
        top: 1650%; /* Adjust vertical positioning */
        left: 50%; /* Move the GIFs to the horizontal center */
        transform: translate(-300%, +100%); /* Center horizontally and vertically */
        width: 40px; /* Adjust size if necessary */
        height: 40px; /* Adjust size if necessary */
    }
}


/* Dots container styling */
.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc; /* Default color for inactive dots */
    border-radius: 50%;
    cursor: none;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #b9363e; /* Highlight color for the active dot */
}

#money-rain {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensure the animation does not interfere with clicking buttons */
    z-index: 10; /* Ensure the rain is above other content */
}


#apk-link {
    display: none; /* Hidden initially */
    padding: 15px;
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(45deg, #ff4b2b, #ff416c);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 100%; /* Make it as wide as other buttons */
    max-width: 400px; /* Maximum width to match other buttons */
    margin: 20px auto; /* Centers the button */
    display: block;
    transition: all 0.3s ease-in-out;
}

#apk-link:hover {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}


#apk-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

#apk-link:hover::before {
    opacity: 1;
    transform: scale(1.1);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 65, 108, 0.5);
    }
    100% {
        box-shadow: 0 0 30px 15px rgba(255, 65, 108, 0);
    }
}

#apk-link:active {
    animation: pulse 0.8s infinite;
}

